# Ignorer les fichiers d'objets et les fichiers de dépendances
*.o
*.a
*.so
*.out


/build/
/bin/
/obj/
/test_obj/
/arm_bin/
/arm_obj/
/lib_com_obj/


*.log
tmp/
*.tmp

.DS_Store
Thumbs.db
/.vs
/.vscode/
/CppProperties.json
